// Place all the styles related to the damnhot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
	// height: 100%;
  	margin:0 0 0 0;
  	overflow-y: hidden;

	.content{
	display: inline-block;
	width: 4740px;
	height:100%;

		.images{
			display:inline-block;
			float: left;
		}
		video#bgvid {
	   position: fixed; right: 0; bottom: 0;
	   min-width: 100%; 
	   min-height: 100%;  
	   z-index: -100;
	   background: url("") no-repeat;
	   background-size: cover;
		}
	}

	.nav{
		position:fixed;
		margin-left: 10px;
		margin-top: -50px;
		// width:4740px;
		background-color: lightgrey;
		
	}
}

